.layout {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr 1fr auto;
    grid-template-areas:
        "header header"
        "aside main"
        "aside main"
        "footer footer";
    gap: 10px;
}

header {
    grid-area: header;
    background-color: lightblue;
    padding: 20px;
}

aside {
    grid-area: aside;
    background-color: orange;
    padding: 20px;
    width: 200px;
    height: 20vh;
}

main {
    grid-area: main;
    background-color: lightgreen;
    padding: 20px;
}

footer {
    grid-area: footer;
    background-color: lightskyblue;
    padding: 20px;
}