* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container-nav-links {
    background-color: grey;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
}

.nav-links {
    list-style-type: none;
    background-color: rgb(0, 0, 0);
    margin-bottom: 10px;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    margin-left: 20px;
}

.nav-links li a {
    color: #ffff;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s;
}

.nav-links li a:hover {
    background-color: lightgrey;
    color: black;
}

.content {
    padding: 50px 0;
    text-align: center;
}

.hero {
    color: black;
    background-color: grey;
    min-height: 100vh;
}

.container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#vet{
    font-weight: bold;
    margin: 10px auto;
    display: flex;
    justify-content: center;

}

.hero-background{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Bavik_Pils_logo.svg/1200px-Bavik_Pils_logo.svg.png"); /* The image used */
  background-color: grey;
  height: 500px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: contain;
}


