.container-nav-links {
    min-width: 100vh;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
}

.nav-links {
    list-style-type: none;
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    margin-left: 20px;
}

.nav-links li a {
    color: #ffff;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s;
}

.nav-links li a:hover {
    background-color: white;
    color: black;
}

.content {
    padding: 50px 0;
    text-align: center;
}
