.container {
    width: 400px;
    height: 200px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 50px;
    height: 50px;
    }

.rood {
        background: red;
    }

.blauw {
        background: blue;
    }

.groen {
        background: green;
    }