body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

.nav-links{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    background-color: black;
    padding: 10px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    border-radius: 10px;
    padding: 5px;
}

.nav-links a:hover{
    background-color: lightgray;
    transition: background-color 0.3s;
}

.title {
    display: flex;
    justify-content: center;
}

.vlaggen{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 50px;
}

#Belgie{
    display: grid;
    grid-template-columns: repeat(3, 50px);
}

#Nederland{
    display: grid;
    width: 150px;
}

#Belgie div{
    padding: 30px;
    height: 60px;
}

.rood{
    background-color: red;
}
.geel{
    background-color: yellow;
}
.zwart{
    background-color: black;
}

.wit {
    background-color: white;
}

.blauw {
    background-color: blue;
}