*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    margin: 0 auto;
}

.nav-links {
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    background-color: black;
    gap: 10px;
}

.nav-links a{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.nav-links div a:hover{
    background-color: lightgrey;
    color: black;
    transition: background-color 0.3s;
}

#eyecatcher{
    background-color: aqua;
    margin-top: 5%;
    height: 300px;
    display: grid;
    border: black solid 2px;
    grid-template-columns: 3fr 1fr;
}

#afbeelding {
    background-image: url("https://picsum.photos/1200");
    background-repeat: no-repeat;
    background-size: cover;
}

#text {
    display: flex;
    min-height: 300px;
    background-color: lightgray;
    border: solid black 2px;
}

#text p {
    margin: 10px;
}

#bier {
    background-color: darkred;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    border: solid black 2px;
}

#afbeeldingBier img{
    border-radius: 50%;
}

#textBier{
    margin-left: 5%;
    padding-left: 5px;
    border: solid black 2px;
}

.hero {
    background-image: url(https://picsum.photos/5000);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0 auto;
}

#box {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#box div {
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    border-radius: 10px;
    padding: 20px 30px
}




