.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.item {
    background-color: lightgray;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

.item1 {
    grid-column: span 2;
    grid-row: span 2;
    background-color: lightblue;
}

.item2 {
    grid-column: span 2;
    background-color: lightgreen;
}