.dashboard {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header"
        "menu content"
        "footer footer";
    gap: 10px;
}

header {
    grid-area: header;
    background-color: lightgray;
    padding: 20px;
}

.menu {
    grid-area: menu;
    background-color: silver;
    padding: 20px;
}

footer {
    grid-area: footer;
    background-color: gray;
    padding: 20px;
}

.content {
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    gap: 15px;
    background-color: dimgray;
    padding: 20px;
}

.content-box {
    grid-column: 1 / 4;
    background-color: gainsboro;
    display: grid;
    align-items: center;
    justify-items: center;
    font-weight: bold;
    border: 1px solid darkgray;
}

.card {
    background-color: lightgreen;
    border: 1px solid darkgray;
    display: grid;
    align-items: center;
    justify-items: center;
    font-weight: bold;
}