*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
}

.container{
    padding: 20px;
}

.btn{
    display: block;
    background-color: chocolate;
    text-align: center;
    color: black;
    margin: 3px;
    padding: 5px;
    border: 1px solid transparent;
    text-decoration: none;
    border-radius: 5px;
}

.hero {
    display: flex;
    justify-content: center;
}

.pic {
    display: inline-block;
    max-width: 150px;
    margin: 10px;
}

.nav-links{
    background-color: white;
    border-bottom: 1px solid whitesmoke;
    border-radius: 5px;
}

.nav-links a{
    display: inline-block;
    background-color: white;
    color: black;
    padding: 5px;
    margin: 3px;
    text-decoration: none;
    border-radius: 5px;
}

.nav-links a:hover{
    background-color: bisque;
    transition: background-color 0.3s;
}

.btn:hover{
    background-color: rgb(255, 205, 144);
    transition: background-color 0.3s;
}

.inline img,span{
    display: inline;
    margin: 3px;
    padding: 5px;
    max-width: 50px;
    max-height: 50px;
    vertical-align: middle;
}

