body {
    display: grid;
    width: 100vw;
    gap: 5px;
    grid-template-columns: repeat(4,1fr);
}

div {
    background-color: lightgrey;
    width: 20vw;
    height: 300px
}

.selected {
    background-color: black;
}