.outer {
    width: 400px;
    height: 200px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    border: solid black 2px;
    width: 350px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.box {
    width: 50px;
    height: 50px;
}

.rood {
    background: red;
}

.blauw {
    background: blue;
}

.groen {
    background: green;
}