body {
    display: grid;
    grid-template-columns: repeat(3,auto);  
    gap: 5px; 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
}

#header {
    grid-column: 1/4;
    align-self: center;
    text-align: center;
    background-color: lightskyblue;
    width: 100%;
    height: 50px;
}

#nav {
    grid-column: 1/4;
    align-self: center;
    text-align: center;
    background-color: grey;
    height: 25px;
}

#main {
    background-color: lightgreen;
    grid-column: 1/ 3;
    height: 500px;
    width: 1415px;
    text-align: center;

}

#sidebar {
    background-color: orangered;
    width: 250px;
    height: 500px;
    text-align: center;

}

#footer {
    grid-column: 1/4;
    background-color: darkblue;
    width: 99vw;
    height: 50px;
    text-align: center;
}