.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 250px;
    gap: 10px;
}

header,nav,footer {
    grid-column: 1 / 4;
    background-color: lightsalmon;
    padding: 20px;
}

main {
    color: black;
    grid-column: 1 / 3;
    background-color: lightgreen;
    padding: 20px;
    height: 500px;
}

.sidebar {
    background-color: greenyellow;
    width: 250px;
    padding: 20px;
}