.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 150px);
    gap: 10px;
}

.item {
    display: grid;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
}

.a {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    background-color: blue;
}

.b {
    grid-column: 4 / 6;
    grid-row: 1 / 2;
    background-color: orange;
}

.c {
    grid-column: 4 / 6;
    grid-row: 2 / 5;
    background-color: greenyellow;
}

.d {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
    background-color: red;
}

.e {
    grid-column: 3 / 4;
    grid-row: 3 / 5;
    background-color: yellow;
    color: black;
}